%script{src: '/javascripts/body.js'}

#hello
	%strong Hello world!

.orange#linkbutton{style:'cursor:pointer'}
	%p#orange_link1 Show List
%div{style:'display:inline-block; margin-left:48px'}
	%strong The world is a joke.

%br
%br
#feedlist
%br

.orange#alertbutton{style:'width:400px; cursor:pointer'}
	%p#orange_text1 Click Me To Display An Alert Box
%br
.orange#addlinebutton{style:'width:400px; cursor:pointer'}
	%p#orange_text1 Click Me To Append A Line

%ul
	%li
		%strong First Line
	%li#lastline
		%strong Last Line