%h3 Feed List

%ul
	- @feeds.each do |feed|
		%li
			%a{:href => "/feeds/show/#{feed.id}"}= feed.title + " - " + feed.url

%h3 New Feed

%form{ id:"create_feed_form", action:"/feeds/new", method:"post" }
	%label{ for:"url" } URL:
	%input{ type:"text", id:"url", name:"feed_url" }
	%input{ type:"submit", value:"Add Feed" }

%script{src: '/javascripts/feedlist.js'}